.Games {
    flex: 1 0 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    color: #707070;
    
    align-items:flex-start;
    height:100%
}
.GameContent {
    display: flex;
    flex-flow: column;
    width: 78%;
}
.GamesHeader {

    
    display: flex;
    flex-flow: row;
    align-items: center;
   
}


.GamesHeader h3{
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}

.GamesHeader p {
    font-size: 17px;
    margin-right: 20px;
}

@media(max-width:800px){
    .Games{
        flex-flow: column;
        align-items: center;
    }

    .GamesHeader{
        width: 100%;
        flex-flow: column;
    }

    .GamesHeader h3{
        font-size: 18px;
        font-weight: bold;
        
    }
    
    .GamesHeader p {
        font-size: 15px;
        
    }
}