.Layout {
    width: 1000px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row;
    margin: 0 auto;
    margin-bottom: 50px;
    position: relative;
}

.Content{
    width: 30%;
    padding-bottom: 50px;
}

@media(max-width:800px){
    .Layout{
        width: 100%;
        flex-flow: column;
    }

    .Content{
        width: 100%;
    }
}