.Toolbar{
    background-color: #FFFFFF;
    height: 75px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    box-sizing: border-box;
    z-index: 100;
    border-bottom: 2px solid #EBEBEB;
    border: solid 2px red;
}

.Toolbar nav{
    height: 100%;
}

.Toolbar .Logo {
    color: #707070;
    font-size: 44px;
    font-weight: bold;

}

.LogoSpan{
    width: inherit;
    background-color:  #B5C401;
    height: 7px;
    margin-top:15px;
    border-radius: 6px;
    bottom: 0;
}