.GameTypes{
    display: flex;
    flex-flow: row;
    border:solid 1px red;
    box-sizing: border-box;
    align-content: center;
    flex: 0 1 50%;
}

@media(max-width:800px){
    .GameTypes{
        width: 100%;
    }
}