.GameCards{
    width: 100%;
    display: flex;
    flex-flow: column;
    min-height: 58vh;

    border: 1px solid red;
}

@media(max-width:800px){
    .GameCards{
        margin-top: 10px;
        min-height: 40vh;
        width: 100%;
    }

}