.AppTitle{
    border: solid 1px red;
    padding: 10px;
    width: 50%;
    height: 100%;
    display: flex;
    color:#707070;
    font-style: italic;
    font-weight: bold;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
}

.FirstTitle{
    font-size: 4em;
    border: solid 1px red;
    display: flex;
    text-align: center;
    width: 40%;
    height: 40%;
    flex-wrap: wrap;
    padding: 0 10px;
    box-sizing: border-box;
}
.SecondTitle{
    font-size: 4em;
    border: solid 1px red;
    text-align: center;
    width: 60%;
    height: 40%;
    padding: 5px 8px;
    box-sizing: border-box;
}