.Layout {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    margin: 12px 15px;
}

.Content{
    width: 30%;
}

@media(max-width:600px){
    .Layout{
        flex-flow: column;
    }

    .Content{
        width: 100%;
    }
}